@import './../../styles/variables.scss';

.places-card-wrapper {
  display: flex;
  align-items: center;
  background-color: $card-color;
  width: 90vw;
  border-radius: 10px;
  padding: 1em 0;
  margin-top: 1em;

  .place-image-frame {
    margin: 1em;
    width: 100px;
    height: 80px;
    overflow: hidden;

    .place-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .place-description {
    margin-right: 0.5em;
    width: 220px;

    .place-link {
      text-decoration: none;
      color: black;

      .place-name {
        margin-bottom: 0.5em;
        margin-top: 0;
        font-family: $headers-font;
        font-weight: 600;
        font-size: 1.3em;
      }
    }

    .place-adress {
      margin: 0;
      font-family: $content-font;
      font-size: 0.9em;
      font-weight: 300;
    }

    .place-short-description {
      margin: 0;
      font-family: $content-font;
      font-size: 1.1em;
    }
  }
}
