.user-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10vh;

  .user-heading {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: auto;
    width: 90vw;
    min-height: 60vh;
    background-color: #f5f4f4;
    border-radius: 10px;
    height: 65vh;

    .user-info-wrapper {
      display: flex;
      align-items: center;
      height: 20vh;

      .user-icon {
        height: 45px;
        width: 45px;
        background-color: #e3b061;
        color: white;
        border-radius: 50%;
        display: inline-block;
        font-size: 2em;
        font-family: 'Lato', sans-serif;
        text-align: center;
        margin-left: 30px;
      }

      .user-text {
        .user-title {
          margin: 0;
          font-family: 'Lato', sans-serif;
          margin-left: 20px;
        }
        .user-name {
          margin: 0;
          font-family: 'Lato', sans-serif;
          margin-left: 20px;
        }
      }
    }

    .my-favorites {
      font-family: 'Lato', sans-serif;
      font-size: 1.1em;
      margin-left: 20px;
    }

    .favorite-places-wrapper {
      height: 100px;
    }
  }

  .sign-out-button {
    margin: 1.1em 0;
    border: none;
    padding: 1em 0;
    background-color: #494343;
    text-align: center;
    width: 90vw;

    .button {
      color: white;
      font-family: 'Lato', sans-serif;
      font-size: 1.1em;
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;
    }
  }
}
