@import './../../styles/variables.scss';

.place-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10vh;

  .place-heading {
    font-family: $headers-font;
    font-weight: 300;
  }

  .place-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 65vh;
    width: 90vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: auto;
    background-color: $card-color;
    border-radius: 10px;

    .place-image-frame {
      margin: 1em;
      width: 80vw;
      height: 200px;
      overflow: hidden;

      .place-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .place-info-wrapper {
      width: 80vw;

      .place-name {
        margin-bottom: 0.5em;
        margin-top: 0;
        font-family: $headers-font;
        font-weight: 600;
        font-size: 1.3em;
      }
      .place-adress {
        margin: 0;
        font-family: $content-font;
        font-size: 0.9em;
        font-weight: 300;
      }
      .place-phone-number {
        margin: 0;
        font-family: $content-font;
        font-size: 0.9em;
        font-weight: 300;
      }
    }

    .place-text-wrapper {
      margin: 2em 0 1em 0;
      width: 80vw;

      .place-short-description {
        margin: 0;
        font-family: $content-font;
        font-size: 1.1em;
      }
      .place-long-description {
        margin: 0;
        font-family: $content-font;
        font-weight: 300;
      }
    }
  }

  .go-to-menu-button {
    margin: 1.1em 0;

    .button {
      font-family: $content-font;
      font-size: 1.1em;
      border: none;
      padding: 1em 0;
      background-color: #4c89ab;
      text-align: center;
      width: 90vw;
      color: white;
      border: none;
      outline: none;
      cursor: pointer;
    }
  }
}
