.login-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  .information-wrapper {
    .foodie-logo {
      text-align: center;
      border: 1px solid red;
    }

    .foodie-title {
      margin: 0;
      text-align: center;
      font-size: 3rem;
      font-family: Lato;
      border: 1px solid red;
    }

    .foodie-text {
      font-family: Lato, sans-serif;
      margin-bottom: 1.5em;
      text-align: center;
      padding-left: 20px;
      padding-right: 20px;
      border: 1px solid red;
    }
  }

  .signin-wrapper {
    border: 1px solid blue;

    .signin-text {
      text-align: center;
      font-family: Lato, sans-serif;
      font-size: 1.4em;
    }
  }
}
